$white: #ffffff;
$primary: #6e36f7;
$accent: #ff4d4d;
$title: #ffaabc;
$accentLight: #ffe8ed;
$transparentWhite: rgba(255, 255, 255, 0.3);
$gray: #a8afb4;
$selection: rgba(69, 152, 248, 1);
$backgroundGray: #eff1f4;
$markerColor: rgb(114, 182, 43);
$dividerColor: #d2d6db