$white: #ffffff;
$primary: #6e36f7;
$accent: #ff4d4d;
$accentLight: #ffaabc;
$transparentWhite: rgba(255, 255, 255, 0.3);
$gray: #a8afb4;
$selection: rgba(69, 152, 248, 1);
$selectedListItem: #eff1f4;