@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.h1 {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;

  @media screen and (max-width: 768px) {
    font-size: 32px;
    line-height: 40px;
  }
}

.h2 {
  font-family: "Roboto", serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.h3 {
  font-family: "Roboto", serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
}

.h4 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.h5 {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.label {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0px;
}

.textBig {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}

.text {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
}

.textSmall {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.buttonText {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}

