@import "shared/colors";
@import "shared/wrapper";
@import "shared/text";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fadeInAnimation {
  animation: fade-in 200ms ease-in-out forwards;
}

.fadeOutAnimation {
  animation: fade-out 200ms ease-in-out forwards;
}

@keyframes switch {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(-1);
  }
}

@keyframes switchReversed {
  from {
    transform: scaleX(-1);
  }
  to {
    transform: scaleX(1);
  }
}

.switchAnimation {
  animation: switch 200ms ease-in-out forwards;
}

.switchAnimationReverse {
  animation: switchReversed 200ms ease-in-out forwards;
}

@keyframes slideLeft {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}

.slideLeftAnimation {
  animation: slideLeft 350ms ease-in-out forwards;
}

.slideRightAnimation {
  animation: slideRight 350ms ease-in-out forwards;
}

* {
  margin: 0;
  padding: 0;
}

.headerSection {
  @extend .section;
  background-color: $primary;
}

nav {
  position: relative;

  ul {
    position: absolute;
    right: 16px;
    padding: 16px;
    background-color: $white;
    border-radius: 10px;
    color: black;
    display: none;
    list-style-type: none;

    li {
      color: black;

      a {
        color: inherit;

        &:link {
          color: inherit;
        }

        &:visited {
          color: inherit;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.header {
  @extend .wrapper;

  #burger {
    width: 30px;
    height: 30px;
    background-image: url("https://www.svgrepo.com/show/506800/burger-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-clip: padding-box;
    filter: invert(1);
  }

  #language {
    @extend #burger;
    width: 25px;
    height: 25px;
    background-image: url("https://www.svgrepo.com/show/449121/language.svg");
  }

  &-navContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    &-buttons {
      position: relative;
      z-index: 20;
      width: calc(100%);
      display: none;
      flex-direction: row;
      justify-content: flex-end;
      padding: 24px 12px;
      gap: 24px;
      align-items: center;

      @media screen and (max-width: 768px) {
        display: flex;
      }
    }
  }

  &-navMenu {
    @extend .textSmall;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    height: 80px;
    transition: height 1000ms ease-in-out;

    @media screen and (max-width: 768px) {
      //transform: translateX(100%);
      top: 78px;
      display: flex;
      position: fixed;
      z-index: 19;
      height: 100vh;
      gap: 10px;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      right: -100%;
      align-items: flex-start;
      background: $white;
      padding: 20px 40px;
      box-sizing: border-box;
      color: black;
    }

    li {
      position: relative;

      ul {
        width: fit-content;
        position: absolute;
        padding: 16px;
        right: 0;
        background-color: $white;
        border-radius: 10px;
        color: black;
        display: none;
        list-style-type: none;

        @media screen and (max-width: 768px) {
          position: relative;
          display: block;
        }

        li {
          text-wrap: nowrap;
          color: black;

          a {
            color: inherit;

            &:link {
              color: inherit;
            }

            &:visited {
              color: inherit;
            }

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    &-corporate {
      display: block;

      @media screen and (max-width: 768px) {
        display: none;
      }

    }

    &-type::after {
      position: relative;
      bottom: 1px;
      color: $white;
      content: "⯆";
      margin: 0 0 0 8px;

      @media screen and (max-width: 768px) {
        color: black;
      }
    }

    &-help {
      @extend .header-navMenu-type;
    }

    &-language {
      @extend .header-navMenu-type;

      &::before {
        transform: translateY(3px);
        margin-right: 6px;
        content: "";
        display: inline-block;
        background-image: url("https://www.svgrepo.com/show/449121/language.svg");
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: invert(1);

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    a {
      color: $white;
      text-decoration: none;

      @media screen and (max-width: 768px) {
        color: black;
      }
    }

  }

  &-title {
    @extend .h1;
    color: $title;
    padding: 60px 0 20px 0;

    &:hover {
      cursor: default;
    }
  }

  &-search {
    padding: 24px 0 80px 0;

    &-searchType {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      overflow: scroll;
      scrollbar-width: none;


      input[type="radio"] {
        display: none;

        & + label {

          @extend .textSmall;
          font-weight: 500;

          text-wrap: nowrap;
          display: flex;
          background-color: $transparentWhite;
          color: $white;
          padding: 4px 18px;
          border-radius: 20px;

          &:hover {
            cursor: pointer;
          }

          span {
            background-color: $markerColor;
            color: white;
            padding: 0 8px;
            border-radius: 12px;
            box-sizing: border-box;
            margin-left: 8px;
            margin-right: -12px;

          }
        }

        &:checked + label {
          color: black;
          background-color: $white;
        }
      }
    }

    &-input {
      margin-top: 12px;
      @extend .text;
      display: flex;
      justify-content: center;
      align-items: stretch;
      height: 80px;
      gap: 10px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        height: fit-content;
        gap: 20px
      }

      &-fields {
        position: relative;
        border-radius: 5px;
        justify-content: stretch;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        background-color: $gray;
        box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        #switch {
          @extend .textBig;
          display: flex;
          align-items: center;
          justify-content: center;
          top: calc(50% - 15px);
          left: calc(20% - 15px);
          position: absolute;
          height: 30px;
          width: 30px;
          padding: 0 1px 3px 1px;
          border-radius: 50%;
          border: $accent 1px solid;
          background-color: $white;
          color: $accent;
          z-index: 15;
          scale: 1;
          rotate: 0deg;
          transition: scale 100ms ease-in-out;

          @media screen and (max-width: 768px) {
            rotate: 90deg;
            top: calc(25% - 15px);
            left: 80%;
          }

          &:hover {
            cursor: pointer;
          }

          &:active {
            scale: 0.92;
          }
        }

        > div {
          border-right: $gray 1px solid;

          @media screen {
            border-right: none;
            border-bottom: $gray 1px solid;
          }

          &:last-child {
            border-right: none;
          }
        }

        input {
          position: relative;
          width: 100%;
          top: 0;
          background-color: transparent;
          @extend .text;
          border: none;
          padding: 0;
          margin: 0;
          transition: 50ms ease-in-out;

          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: none;
            border: black;
            box-shadow: none;
          }
        }

        label {
          position: relative;
          top: 3px;
          @extend .textSmall;
          color: $gray;
          padding: 0;
          margin: 0;
          line-height: 16px;
          transition: 50ms ease-in-out;

          &:hover {
            cursor: pointer;
          }
        }

        input[readonly] {
          caret-color: transparent;
        }

        input:placeholder-shown {
          top: -8px;

          & + label {
            top: 24px;
            @extend .text;
          }
        }

        &-from {
          height: 80px;
          width: 20%;
          box-sizing: border-box;
          position: relative;
          display: inline-flex;
          flex-direction: column-reverse;
          background-color: $white;
          border-radius: 5px 0 0 5px;
          padding: 16px 24px;


          @media screen and (max-width: 768px) {
            border-radius: 5px 5px 0 0;
            width: 100%;
          }

          &:focus-within, &-focused {
            position: relative;
            z-index: 10;
            box-shadow: 0 0 16px 0 $selection;
          }

          &:hover {
            cursor: pointer;
          }
        }

        &-to {
          @extend .header-search-input-fields-from;
          border-radius: 0;

          &:focus-within, &-focused {
            position: relative;
            z-index: 10;
            box-shadow: 0 0 16px 0 $selection;
          }
        }

        &-calendar {
          width: 35%;
          display: flex;
          position: relative;
          flex-direction: row;
          background-color: $white;
          justify-content: center;
          z-index: 8;

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          &-focused {
            position: relative;
            z-index: 10;
            box-shadow: 0 0 16px 0 $selection;
          }

          &-from, &-to {
            @extend .header-search-input-fields-to;
            width: 100%;
            flex-direction: row;

            &:focus-within {
              box-shadow: none;
              z-index: 0;
            }

            div {
              display: flex;
              flex-direction: column-reverse;
            }

            img {
              position: relative;
              top: 14px;
              height: 20px;
            }
          }

          &-image {
            margin: 0 -2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
          }

          &-divider {
            position: relative;
            top: 27px;
            width: 1px;
            margin: -2px;
            height: 30px;
            background-color: $gray;
            z-index: 2;
          }
        }

        &-details {
          width: 25%;
          @extend .header-search-input-fields-from;
          border-radius: 0 5px 5px 0;

          @media screen and (max-width: 768px) {
            width: 100%;
            border-radius: 0 0 5px 5px;
          }

          &-focused {
            position: relative;
            z-index: 10;
            box-shadow: 0 0 16px 0 $selection;
          }

        }
      }

      &-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        @extend .text;
        font-weight: bold;
        background-color: $accent;
        width: 130px;
        border: none;
        border-radius: 5px;
        color: $white;
        box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.3);

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 60px;
        }

        &:hover {
          cursor: pointer;
        }

        &:active {
          box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.3);
          scale: 0.99;
        }
      }

    }

    &-multiplePoints {
      align-items: center;
      padding: 12px 0;
      color: $white;
      @extend .textSmall;

      p::before {
        transform: translateY(2px);
        margin-right: 8px;
        content: "";
        display: inline-block;
        height: 20px;
        width: 20px;
        background-image: url('https://www.svgrepo.com/show/131472/points.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: invert(1);
      }
    }

  }

}

.headerModal {

  &-cityPicker {
    height: fit-content;
    display: none;
    position: absolute;
    z-index: 10;
    width: 40%;
    background-color: $white;
    border-radius: 5px;
    top: 100px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    padding: 16px 0;

    @media screen and (max-width: 768px) {
      width: calc(100% - 20px);
      top: 180px;
      left: 10px;
    }

    &-picked {
      display: none;

      &-title {
        @extend .text;
        font-weight: bold;
        padding: 0 24px;
      }

      &-city {
        @extend .text;
        padding: 8px 24px;
        background-color: $backgroundGray;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          background-color: transparent;
          border: none;
          padding: 0;
          content: "";
          display: inline-block;
          height: 25px;
          width: 25px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          filter: invert(0);
          background-image: url("https://www.svgrepo.com/show/521590/cross.svg");

          &:hover {
            cursor: pointer;
          }
        }

        &-name {
          flex-grow: 1;

          &::before {
            transform: translateY(2px);
            margin-right: 8px;
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            filter: invert(0);
            background-image: url("https://www.svgrepo.com/show/430441/marker-line-map.svg")
          }
        }
      }
    }

    &-cityList {
      &-title {
        @extend .text;
        font-weight: bold;
        padding: 0 24px;
      }

      &-item {
        @extend .text;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 4px 24px;

        &:hover {
          background-color: $backgroundGray;
          cursor: pointer;
        }

        &-name {
          &::before {
            transform: translateY(2px);
            margin-right: 8px;
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            filter: invert(0);
            background-image: url("https://www.svgrepo.com/show/430441/marker-line-map.svg")
          }
        }
      }
    }
  }

  &-datePicker {
    @extend .text;
    position: absolute;
    width: 350px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    gap: 0;
    top: 100px;
    left: calc((100% - 350px) / 2);
    background-color: $white;
    display: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 16px 24px;

    @media screen and (max-width: 768px) {
      width: calc(100% - 20px);
      left: 10px;
    }

    &-pages {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      button {
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }
      }

      span {
        @extend .textBig;
      }
    }

    &-daysTitle {
      display: flex;
      width: 100%;
      @extend .text;
      font-weight: bold;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }

    &-days {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &-inactive {
        color: $gray
      }

      &-chosen {
        background-color: $accent;
        color: $white;
        border-radius: 5px;
        position: relative;
        scale: 1.05;
      }

      &-between {
        background-color: $accentLight;
      }

      div {
        display: flex;
        justify-content: center;
        width: calc(100% / 7 - 20px);
        padding: 6px 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-details {
    @extend .headerModal-cityPicker;
    width: fit-content;
    display: none;
    flex-direction: column;
    right: 0;

    @media screen and (max-width: 768px) {
      width: calc(100% - 20px);
      top: 100px;
    }

    &:hover {
      cursor: default;
    }

    p {
      color: $gray;
      padding: 0 24px;
    }

    &-passengers {
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
      align-items: center;

      button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 10px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 62%;

        &:hover {
          cursor: pointer;
        }

        &.plus {
          background-image: url("https://www.svgrepo.com/show/532997/plus-large.svg");
        }

        &.minus {
          background-image: url("https://www.svgrepo.com/show/532960/minus.svg");
        }

        &.help {
          width: 20px;
          height: 20px;
          margin: -5px 10px;
        }
      }

      input[type="text"] {
        flex-grow: 0;
        width: 20px;
        text-align: center;
        font-weight: bold;

        &:hover {
          cursor: default;
        }
      }

      p {
        color: inherit;
        flex-grow: 1;
        font-weight: bold;
        padding: 0;
        line-height: 28px;

        span {
          font-weight: normal;
        }

      }
    }

    &-divider {
      background-color: $gray;
      height: 1px;
      margin: 20px 0;
    }

    &-class {
      display: flex;
      padding: 0 24px;
      flex-direction: inherit;

      div {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }

      p {
        color: inherit;
        font-weight: bold;
        padding: 0;
      }

      input[type="radio"] {
        display: none;

        & + label {
          @extend .textSmall;
          font-weight: 500;
          display: flex;
          background-color: $transparentWhite;
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
          color: inherit;
          padding: 4px 18px;
          border-radius: 20px;
          margin-bottom: 12px;
        }

        &:checked + label {
          color: $white;
          background-color: $accent;
        }
      }

    }

  }
}

.mainSection {
  @extend .section;
  background-color: $backgroundGray;
  padding: 24px 0;
}

.main {
  @extend .wrapper;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &-advise {
    display: flex;
    gap: 24px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &-card {
      position: relative;
      height: 160px;
      display: flex;
      flex-direction: row;
      background-color: $white;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px 16px;
      width: calc(50% - 12px);
      border-radius: 10px;
      box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
      transition: scale 100ms ease-out;

      @media screen and (max-width: 768px) {
        width: calc(100% - 32px);
      }

      &:hover {
        scale: 1.02;
      }

      @media screen and (max-width: 768px) {

        ul {
          display: flex;
          flex-direction: column;
        }
      }


      div {
        display: flex;
        width: 70%;
        flex-direction: column;
        gap: 12px;
      }

      img {
        position: absolute;
        bottom: 30px;
        right: 16px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      button {
        @extend .header-search-input-submit;
        @extend .textSmall;
        font-weight: bold;
        height: 28px;
        width: fit-content;
        margin: 0;
        box-shadow: none;
        position: absolute;
        bottom: 16px;

        @media screen and (max-width: 768px) {
          padding: 20px 24px;
        }

        &:active {
          box-shadow: none;
        }

        &.secondary {
          background-color: $accentLight;
          color: $accent;

        }
      }

      p {
        @extend .text;
        font-weight: 500;
        line-height: 28px;
        text-wrap: nowrap;
      }

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          @extend .textSmall;
          color: $gray;
          list-style-type: none;
          margin-right: 16px;

          &::before {
            content: "✔";
            color: $markerColor;
            margin-right: 2px;
          }
        }
      }

      &-text {
        display: flex;
        flex-direction: column;

      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;

    p {
      @extend .text;
      font-weight: 500;
      padding: 0 3px 10px 3px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        @extend .textSmall;
        color: $selection;
      }
    }

    &-popular {
      width: 70%;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      &-card {
        display: flex;
        flex-direction: column;
        background-color: $white;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        border-radius: 10px;
        box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
        transition: scale 100ms ease-out;

        &:hover {
          scale: 1.02;
        }

        &-listItem {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 40px;
          padding: 16px 16px;
          box-sizing: border-box;
          border-bottom: $dividerColor 1px solid;

          @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 0;
            gap: 0;
          }

          &:last-child {
            border: none;
          }

          p {
            padding: 0;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 50%;
            align-items: center;

            @media screen and (max-width: 768px) {
              line-height: 28px;
              flex-direction: column;
              width: calc(100% - 32px);
              align-items: flex-start;
              padding: 8px 16px;
            }

            &:first-child {
              @media screen and (max-width: 768px) {
                border-bottom: $dividerColor 1px solid;
              }
            }

            span {
              color: $accent;
            }
          }

        }
      }


    }

    &-top {
      width: calc(30% - 24px);

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      &-card {
        @extend .main-content-popular-card;
        padding: 3px 0;
        gap: 0;

        &-listItem {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 40px;
          box-sizing: border-box;
          border-bottom: $dividerColor 1px solid;
          border-bottom: none;
          padding: 3px 16px;

          &:hover {
            background-color: $backgroundGray;
            cursor: pointer;
          }

          &:last-child {
            border-bottom: none;
          }

          p {

            padding: 0;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @media screen and (max-width: 768px) {
              padding: 0;
              flex-direction: row;
              border: none;
            }

            a {
              margin-left: 12px;
              flex-grow: 1;
            }

            span {
              color: inherit;

              &::before {
                content: "★";
                color: $accent;
                font-size: 20px;
                line-height: 20px;
                margin-right: 4px;
              }
            }
          }
        }
      }
    }

    &-info {
      @extend .main-content-popular;

      &-card {
        @extend .main-content-popular-card;
        gap: 16px;
        padding: 16px 0;

        &-listItem {
          @extend .main-content-top-card-listItem;
          flex-direction: column;
          gap: 0;

          &:hover {
            background-color: inherit;
            cursor: inherit;
          }

          p {
            @extend .textSmall;
            padding: 0;
            color: $gray;

            &.title {
              font-weight: 500;
              margin-bottom: 10px;
              color: inherit;
            }
          }

        }
      }
    }

    &-faq {
      @extend .main-content-top;

      &-card {
        @extend .main-content-top-card;

        p {
          @extend .main-content-top-card-listItem;
          width: 100%;
        }

        &:last-child {
          background-color: #d0d1fb;
          margin-top: 24px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

          img {
            width: 100px;
            padding: 24px 24px 24px 0;
          }

          p {
            @extend .text;
            font-weight: 400;
            line-height: 24px;
            width: calc(100% - 140px);
            padding: 0 0 0 20px;
            margin-right: -10px;
            opacity: 60%;

            &:hover {
              background-color: inherit;
              cursor: initial;
            }
          }

          form {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-between;
            padding: 0 24px 24px 24px;

            button {
              width: 50px;
              height: 50px;
              @extend .header-search-input-submit;
              padding: 0;
              box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

              &:active {
                scale: 0.98;
                box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
              }

              img {
                filter: invert(1);
                padding: 0;
              }

            }

            input {
              width: 100%;
              height: 50px;
              border: $accent 2px solid;
              box-sizing: border-box;
              border-radius: 5px;
              padding: 16px;
              color: $accent;

              &:focus {
                outline: none;
              }

            }

            .alert {
              @extend .text;
              font-weight: bold;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              position: absolute;
              top: -9px;
              right: 100px;
              background-color: $accent;
              color: $white;
            }
          }
        }

      }
    }
  }
}


.footerSection {
  @extend .section;
  background-color: $white;
  padding: 24px 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.footer {
  @extend .wrapper;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      @media screen and (max-width: 768px) {
        scale: 0.8;

      }
    }

  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 0;
    }

    &-item {
      width: calc(100% / 6 - (20px * 5) / 6);
      display: flex;
      flex-direction: column;

      &:first-child {
        @media screen and (max-width: 768px) {
          border-top: $dividerColor 1px solid;
        }
      }

      @media screen and (max-width: 768px) {
        width: calc(100% - 16px);
        padding: 6px;
        border-bottom: $dividerColor 1px solid;
      }


      p {
        @extend .textSmall;
        font-weight: 500;

        @media screen and (max-width: 768px) {
          display: none;
        }

        &:first-child {
          @media screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &::after {
              content: "";
              width: 12px;
              height: 12px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              background-image: url("https://www.svgrepo.com/show/509019/arrow-right.svg");
            }

          }
        }

      }

      ul {
        @extend .textSmall;
        margin: 12px 0;
        list-style-type: none;

        @media screen and (max-width: 768px) {
          display: none;

        }

        li {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            color: inherit;

            &::after {
              content: "";
            }
          }
        }
      }

      a {
        @extend .textSmall;
        color: $selection;

        &::after {
          content: " →"
        }
      }

    }
  }

  &-divider {
    width: 100%;
    height: 1px;
    background-color: $dividerColor;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &-contacts {
    padding: 12px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    div {

      display: flex;
      flex-direction: row;
      gap: 24px;
      padding: 0;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      .horizontal {
        display: flex;
        flex-direction: row;
        gap: 12px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        @extend .textSmall;
        height: 50px;
        border: $selection 1px solid;
        color: $selection;
        background-color: transparent;
        padding: 0 20px;
        border-radius: 5px;

        transition: 100ms ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: $selection;
          color: $white;
        }

        &:active {
          scale: 0.98;
        }

        &.circle {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: $gray;
          border: none;
          margin: 0;
          opacity: 80%;

          img {
            height: 20px;
            filter: invert(1);
          }
        }

        &.black {
          @extend .textSmall;
          font-weight: 500;
          background-color: black;
          color: $white;
          border: none;
          margin: 0;
          padding: 0 12px;

          img {
            height: 28px;
            filter: invert(1);
            margin-right: 8px;
          }
        }
      }
    }
  }
}