@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.wrapper, .footer, .main, .header {
  width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .wrapper, .footer, .main, .header {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
}

.section, .footerSection, .mainSection, .headerSection {
  width: 100%;
  margin: 0 auto;
}

.h1, .header-title {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}

.h2 {
  font-family: "Roboto", serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.h3 {
  font-family: "Roboto", serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
}

.h4 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.h5 {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.label {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0px;
}

.textBig, .headerModal-datePicker-pages span {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}

.text, .main-content-faq-card:last-child form .alert, .main-content-faq-card:last-child p, .main-content p, .main-advise-card p, .headerModal-datePicker-daysTitle, .headerModal-datePicker, .headerModal-cityPicker-cityList-item, .headerModal-cityPicker-cityList-title, .headerModal-cityPicker-picked-city, .headerModal-cityPicker-picked-title, .header-search-input-submit, .main-content-faq-card:last-child form button, .main-advise-card button, .header-search-input-fields input:placeholder-shown + label, .header-search-input-fields input, .header-search-input {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
}

.textSmall, .footer-contacts div button.black, .footer-contacts div button, .footer-content-item a, .footer-content-item ul, .footer-content-item p, .main-content-info-card-listItem p, .main-content p a, .main-advise-card ul li, .main-advise-card button, .headerModal-details-class input[type=radio] + label, .header-search-multiplePoints, .header-search-input-fields label, .header-search-searchType input[type=radio] + label, .header-navMenu {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.buttonText {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

.headerSection {
  background-color: #6e36f7;
}

.header-navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 50px;
  height: 80px;
}
.header-navMenu-type::after, .header-navMenu-language::after, .header-navMenu-help::after {
  position: relative;
  bottom: 1px;
  color: #ffffff;
  content: "⯆";
  margin: 0 0 0 8px;
}
.header-navMenu-language::before {
  transform: translateY(3px);
  margin-right: 6px;
  content: "";
  display: inline-block;
  background-image: url("https://www.svgrepo.com/show/449121/language.svg");
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(1);
}
.header-navMenu a {
  color: #ffffff;
  text-decoration: none;
}
.header-title {
  color: #ffaabc;
  padding: 60px 0 20px 0;
}
.header-title:hover {
  cursor: default;
}
.header-search {
  padding: 24px 0 80px 0;
}
.header-search-searchType {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.header-search-searchType input[type=radio] {
  display: none;
}
.header-search-searchType input[type=radio] + label {
  font-weight: 500;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  padding: 4px 18px;
  border-radius: 20px;
}
.header-search-searchType input[type=radio] + label:hover {
  cursor: pointer;
}
.header-search-searchType input[type=radio] + label span {
  background-color: rgb(114, 182, 43);
  color: white;
  padding: 0 8px;
  border-radius: 12px;
  box-sizing: border-box;
  margin-left: 8px;
  margin-right: -12px;
}
.header-search-searchType input[type=radio]:checked + label {
  color: black;
  background-color: #ffffff;
}
.header-search-input {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 80px;
}
.header-search-input-fields {
  position: relative;
  border-radius: 5px;
  justify-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  background-color: #a8afb4;
  box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.2);
}
.header-search-input-fields > div {
  border-right: #a8afb4 1px solid;
}
.header-search-input-fields > div:last-child {
  border-right: none;
  border-radius: 0 5px 5px 0;
}
.header-search-input-fields input {
  position: relative;
  width: 100%;
  top: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  transition: 50ms ease-in-out;
}
.header-search-input-fields input:hover {
  cursor: pointer;
}
.header-search-input-fields input:focus {
  outline: none;
  border: black;
  box-shadow: none;
}
.header-search-input-fields label {
  position: relative;
  top: 3px;
  color: #a8afb4;
  padding: 0;
  margin: 0;
  line-height: 16px;
  transition: 50ms ease-in-out;
}
.header-search-input-fields label:hover {
  cursor: pointer;
}
.header-search-input-fields input[readonly] {
  caret-color: transparent;
}
.header-search-input-fields input:placeholder-shown {
  top: -8px;
}
.header-search-input-fields input:placeholder-shown + label {
  top: 24px;
}
.header-search-input-fields-from, .header-search-input-fields-details, .header-search-input-fields-to, .header-search-input-fields-calendar-from, .header-search-input-fields-calendar-to {
  width: 20%;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  flex-direction: column-reverse;
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
  padding: 16px;
}
.header-search-input-fields-from:focus-within, .header-search-input-fields-details:focus-within, .header-search-input-fields-to:focus-within, .header-search-input-fields-calendar-from:focus-within, .header-search-input-fields-calendar-to:focus-within, .header-search-input-fields-from-focused {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 16px 0 rgb(69, 152, 248);
}
.header-search-input-fields-from:hover, .header-search-input-fields-details:hover, .header-search-input-fields-to:hover, .header-search-input-fields-calendar-from:hover, .header-search-input-fields-calendar-to:hover {
  cursor: pointer;
}
.header-search-input-fields-to, .header-search-input-fields-calendar-from, .header-search-input-fields-calendar-to {
  border-radius: 0;
}
.header-search-input-fields-to:focus-within, .header-search-input-fields-calendar-from:focus-within, .header-search-input-fields-calendar-to:focus-within, .header-search-input-fields-to-focused {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 16px 0 rgb(69, 152, 248);
}
.header-search-input-fields-calendar {
  width: 35%;
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: center;
  z-index: 8;
}
.header-search-input-fields-calendar-focused {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 16px 0 rgb(69, 152, 248);
}
.header-search-input-fields-calendar-from, .header-search-input-fields-calendar-to {
  width: 100%;
  flex-direction: row;
}
.header-search-input-fields-calendar-from:focus-within, .header-search-input-fields-calendar-to:focus-within {
  box-shadow: none;
  z-index: 0;
}
.header-search-input-fields-calendar-from div, .header-search-input-fields-calendar-to div {
  display: flex;
  flex-direction: column-reverse;
}
.header-search-input-fields-calendar-from img, .header-search-input-fields-calendar-to img {
  position: relative;
  top: 14px;
  height: 20px;
}
.header-search-input-fields-calendar-image {
  margin: 0 -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.header-search-input-fields-calendar-divider {
  position: relative;
  top: 27px;
  width: 1px;
  margin: -2px;
  height: 30px;
  background-color: #a8afb4;
  z-index: 2;
}
.header-search-input-fields-details {
  width: 25%;
  border-radius: 0 5px 5px 0;
}
.header-search-input-fields-details-focused {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 16px 0 rgb(69, 152, 248);
}
.header-search-input-submit, .main-content-faq-card:last-child form button, .main-advise-card button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-weight: bold;
  background-color: #ff4d4d;
  margin-left: 10px;
  width: 130px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.3);
}
.header-search-input-submit:hover, .main-content-faq-card:last-child form button:hover, .main-advise-card button:hover {
  cursor: pointer;
}
.header-search-input-submit:active, .main-content-faq-card:last-child form button:active, .main-advise-card button:active {
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.3);
  scale: 0.99;
}
.header-search-multiplePoints {
  align-items: center;
  padding: 12px 0;
  color: #ffffff;
}
.header-search-multiplePoints p::before {
  transform: translateY(2px);
  margin-right: 8px;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("https://www.svgrepo.com/show/131472/points.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(1);
}

.headerModal-cityPicker, .headerModal-details {
  display: none;
  position: absolute;
  z-index: 10;
  width: 40%;
  background-color: #ffffff;
  border-radius: 5px;
  top: 100px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
  padding: 16px 0;
}
.headerModal-cityPicker-picked {
  display: none;
}
.headerModal-cityPicker-picked-title {
  font-weight: bold;
  padding: 0 24px;
}
.headerModal-cityPicker-picked-city {
  padding: 8px 24px;
  background-color: #eff1f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerModal-cityPicker-picked-city button {
  background-color: transparent;
  border: none;
  padding: 0;
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(0);
  background-image: url("https://www.svgrepo.com/show/521590/cross.svg");
}
.headerModal-cityPicker-picked-city button:hover {
  cursor: pointer;
}
.headerModal-cityPicker-picked-city-name {
  flex-grow: 1;
}
.headerModal-cityPicker-picked-city-name::before {
  transform: translateY(2px);
  margin-right: 8px;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(0);
  background-image: url("https://www.svgrepo.com/show/430441/marker-line-map.svg");
}
.headerModal-cityPicker-cityList-title {
  font-weight: bold;
  padding: 0 24px;
}
.headerModal-cityPicker-cityList-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 8px 24px;
}
.headerModal-cityPicker-cityList-item:hover {
  background-color: #eff1f4;
  cursor: pointer;
}
.headerModal-cityPicker-cityList-item-name::before {
  transform: translateY(2px);
  margin-right: 8px;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(0);
  background-image: url("https://www.svgrepo.com/show/430441/marker-line-map.svg");
}
.headerModal-datePicker {
  position: absolute;
  width: 400px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
  gap: 0;
  top: 100px;
  left: calc((100% - 400px) / 2);
  background-color: #ffffff;
  display: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 16px 24px;
}
.headerModal-datePicker-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.headerModal-datePicker-pages button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.headerModal-datePicker-pages button:hover {
  cursor: pointer;
}
.headerModal-datePicker-daysTitle {
  display: flex;
  width: 100%;
  font-weight: bold;
}
.headerModal-datePicker-daysTitle div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.headerModal-datePicker-days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.headerModal-datePicker-days-inactive {
  color: #a8afb4;
}
.headerModal-datePicker-days-chosen {
  background-color: #ff4d4d;
  color: #ffffff;
  border-radius: 5px;
  position: relative;
  scale: 1.05;
}
.headerModal-datePicker-days-between {
  background-color: #ffe8ed;
}
.headerModal-datePicker-days div {
  display: flex;
  justify-content: center;
  width: calc(14.2857142857% - 24px);
  padding: 12px;
}
.headerModal-datePicker-days div:hover {
  cursor: pointer;
}
.headerModal-details {
  width: fit-content;
  display: none;
  flex-direction: column;
  right: 0;
}
.headerModal-details:hover {
  cursor: default;
}
.headerModal-details p {
  color: #a8afb4;
  padding: 0 24px;
}
.headerModal-details-passengers {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
}
.headerModal-details-passengers button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 62%;
}
.headerModal-details-passengers button:hover {
  cursor: pointer;
}
.headerModal-details-passengers button.plus {
  background-image: url("https://www.svgrepo.com/show/532997/plus-large.svg");
}
.headerModal-details-passengers button.minus {
  background-image: url("https://www.svgrepo.com/show/532960/minus.svg");
}
.headerModal-details-passengers button.help {
  width: 20px;
  height: 20px;
  margin: -5px 10px;
}
.headerModal-details-passengers input[type=text] {
  flex-grow: 0;
  width: 20px;
  text-align: center;
  font-weight: bold;
}
.headerModal-details-passengers input[type=text]:hover {
  cursor: default;
}
.headerModal-details-passengers p {
  color: inherit;
  flex-grow: 1;
  font-weight: bold;
  padding: 0;
  line-height: 28px;
}
.headerModal-details-passengers p span {
  font-weight: normal;
}
.headerModal-details-divider {
  background-color: #a8afb4;
  height: 1px;
  margin: 20px 0;
}
.headerModal-details-class {
  display: flex;
  padding: 0 24px;
  flex-direction: inherit;
}
.headerModal-details-class div {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.headerModal-details-class p {
  color: inherit;
  font-weight: bold;
  padding: 0;
}
.headerModal-details-class input[type=radio] {
  display: none;
}
.headerModal-details-class input[type=radio] + label {
  font-weight: 500;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  color: inherit;
  padding: 4px 18px;
  border-radius: 20px;
  margin-bottom: 12px;
}
.headerModal-details-class input[type=radio]:checked + label {
  color: #ffffff;
  background-color: #ff4d4d;
}

.mainSection {
  background-color: #eff1f4;
  padding: 24px 0;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.main-advise {
  display: flex;
  gap: 24px;
}
.main-advise-card {
  position: relative;
  height: 160px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 16px;
  width: calc(50% - 12px);
  border-radius: 10px;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}
.main-advise-card div {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 12px;
}
.main-advise-card img {
  position: absolute;
  bottom: 30px;
  right: 16px;
}
.main-advise-card button {
  font-weight: bold;
  height: 28px;
  width: fit-content;
  margin: 0;
  box-shadow: none;
  position: absolute;
  bottom: 16px;
}
.main-advise-card button:active {
  box-shadow: none;
}
.main-advise-card button.secondary {
  background-color: #ffe8ed;
  color: #ff4d4d;
}
.main-advise-card p {
  font-weight: 500;
}
.main-advise-card ul {
  display: flex;
  flex-wrap: wrap;
}
.main-advise-card ul li {
  color: #a8afb4;
  list-style-type: none;
  margin-right: 16px;
}
.main-advise-card ul li::before {
  content: "✔";
  color: rgb(114, 182, 43);
  margin-right: 2px;
}
.main-advise-card-text {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}
.main-content p {
  font-weight: 500;
  padding: 0 3px 10px 3px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-content p a {
  color: rgb(69, 152, 248);
}
.main-content-popular, .main-content-info {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.main-content-popular-card, .main-content-info-card, .main-content-top-card, .main-content-faq-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  border-radius: 10px;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}
.main-content-popular-card-listItem, .main-content-top-card-listItem, .main-content-faq-card p, .main-content-info-card-listItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 16px 16px;
  box-sizing: border-box;
  border-bottom: #d2d6db 1px solid;
}
.main-content-popular-card-listItem:last-child, .main-content-top-card-listItem:last-child, .main-content-faq-card p:last-child, .main-content-info-card-listItem:last-child {
  border: none;
}
.main-content-popular-card-listItem p, .main-content-top-card-listItem p, .main-content-faq-card p p, .main-content-info-card-listItem p {
  padding: 0;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.main-content-popular-card-listItem p span, .main-content-top-card-listItem p span, .main-content-faq-card p p span, .main-content-info-card-listItem p span {
  color: #ff4d4d;
}
.main-content-top, .main-content-faq {
  width: calc(30% - 24px);
}
.main-content-top-card, .main-content-faq-card {
  padding: 3px 0;
  gap: 0;
}
.main-content-top-card-listItem, .main-content-faq-card p, .main-content-info-card-listItem {
  justify-content: space-between;
  border-bottom: none;
  padding: 3px 16px;
}
.main-content-top-card-listItem:last-child, .main-content-faq-card p:last-child, .main-content-info-card-listItem:last-child {
  border-bottom: none;
}
.main-content-top-card-listItem p, .main-content-faq-card p p, .main-content-info-card-listItem p {
  width: 100%;
}
.main-content-top-card-listItem p a, .main-content-faq-card p p a, .main-content-info-card-listItem p a {
  margin-left: 12px;
  flex-grow: 1;
}
.main-content-top-card-listItem p span, .main-content-faq-card p p span, .main-content-info-card-listItem p span {
  color: inherit;
}
.main-content-top-card-listItem p span::before, .main-content-faq-card p p span::before, .main-content-info-card-listItem p span::before {
  content: "★";
  color: #ff4d4d;
  font-size: 20px;
  line-height: 20px;
  margin-right: 4px;
}
.main-content-info-card {
  gap: 16px;
  padding: 16px 0;
}
.main-content-info-card-listItem {
  flex-direction: column;
  gap: 0;
}
.main-content-info-card-listItem p {
  padding: 0;
  color: #a8afb4;
}
.main-content-info-card-listItem p.title {
  font-weight: 500;
  margin-bottom: 10px;
  color: inherit;
}
.main-content-faq-card p {
  width: 100%;
}
.main-content-faq-card:last-child {
  background-color: #d0d1fb;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-content-faq-card:last-child img {
  width: 100px;
  padding: 24px 24px 24px 0;
}
.main-content-faq-card:last-child p {
  font-weight: 400;
  line-height: 24px;
  width: calc(100% - 140px);
  padding: 0 0 0 20px;
  margin-right: -10px;
  opacity: 60%;
}
.main-content-faq-card:last-child form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px 24px 24px;
}
.main-content-faq-card:last-child form button {
  width: 50px;
  height: 50px;
  padding: 0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.main-content-faq-card:last-child form button:active {
  scale: 0.98;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}
.main-content-faq-card:last-child form button img {
  filter: invert(1);
  padding: 0;
}
.main-content-faq-card:last-child form input {
  width: 100%;
  height: 50px;
  border: #ff4d4d 2px solid;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 16px;
  color: #ff4d4d;
}
.main-content-faq-card:last-child form input:focus {
  outline: none;
}
.main-content-faq-card:last-child form .alert {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: 100px;
  background-color: #ff4d4d;
  color: #ffffff;
}

.footerSection {
  background-color: #ffffff;
  padding: 24px 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.footer-content-item {
  width: calc(16.6666666667% - 16.6666666667px);
  display: flex;
  flex-direction: column;
}
.footer-content-item p {
  font-weight: 500;
}
.footer-content-item ul {
  margin: 12px 0;
  list-style-type: none;
}
.footer-content-item ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer-content-item a {
  color: rgb(69, 152, 248);
}
.footer-content-item a::after {
  content: " →";
}
.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #d2d6db;
}
.footer-contacts {
  padding: 12px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-contacts div {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 0;
}
.footer-contacts div button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: rgb(69, 152, 248) 1px solid;
  color: rgb(69, 152, 248);
  background-color: transparent;
  padding: 0 20px;
  margin: 0 12px 0 0;
  border-radius: 5px;
}
.footer-contacts div button:hover {
  cursor: pointer;
}
.footer-contacts div button:active {
  scale: 0.98;
}
.footer-contacts div button.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #a8afb4;
  border: none;
  margin: 0;
  opacity: 80%;
}
.footer-contacts div button.circle img {
  height: 20px;
  filter: invert(1);
}
.footer-contacts div button.black {
  font-weight: 500;
  background-color: black;
  color: #ffffff;
  border: none;
  margin: 0;
  padding: 0 12px;
}
.footer-contacts div button.black img {
  height: 28px;
  filter: invert(1);
  margin-right: 8px;
}

/*# sourceMappingURL=index.css.map */
