@import "shared/colors";
@import "shared/wrapper";
@import "shared/text";

* {
  margin: 0;
  padding: 0;
}

.headerSection {
  @extend .section;
  background-color: $primary;
}

.header {
  @extend .wrapper;

  &-navMenu {
    @extend .textSmall;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    height: 80px;

    &-type::after {
      position: relative;
      bottom: 1px;
      color: $white;
      content: "⯆";
      margin: 0 0 0 8px;
    }

    &-help {
      @extend .header-navMenu-type;
    }

    &-language {
      @extend .header-navMenu-type;

      &::before {
        transform: translateY(3px);
        margin-right: 6px;
        content: "";
        display: inline-block;
        background-image: url("https://www.svgrepo.com/show/449121/language.svg");
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: invert(1);
      }
    }

    a {
      color: $white;
      text-decoration: none;
    }

  }

  &-title {
    @extend .h1;
    color: $title;
    padding: 60px 0 20px 0;

    &:hover {
      cursor: default;
    }
  }

  &-search {
    padding: 24px 0 80px 0;

    &-searchType {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      input[type="radio"] {
        display: none;

        & + label {

          @extend .textSmall;
          font-weight: 500;

          display: flex;
          background-color: $transparentWhite;
          color: $white;
          padding: 4px 18px;
          border-radius: 20px;

          &:hover {
            cursor: pointer;
          }

          span {
            background-color: $markerColor;
            color: white;
            padding: 0 8px;
            border-radius: 12px;
            box-sizing: border-box;
            margin-left: 8px;
            margin-right: -12px;

          }
        }

        &:checked + label {
          color: black;
          background-color: $white;
        }
      }
    }

    &-input {
      margin-top: 12px;
      @extend .text;
      display: flex;
      justify-content: center;
      align-items: stretch;
      height: 80px;

      &-fields {
        position: relative;
        border-radius: 5px;
        justify-content: stretch;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        background-color: $gray;
        box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.2);

        > div {
          border-right: $gray 1px solid;

          &:last-child {
            border-right: none;
            border-radius: 0 5px 5px 0;
          }

        }

        input {
          position: relative;
          width: 100%;
          top: 0;
          background-color: transparent;
          @extend .text;
          border: none;
          padding: 0;
          margin: 0;
          transition: 50ms ease-in-out;

          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: none;
            border: black;
            box-shadow: none;
          }
        }

        label {
          position: relative;
          top: 3px;
          @extend .textSmall;
          color: $gray;
          padding: 0;
          margin: 0;
          line-height: 16px;
          transition: 50ms ease-in-out;

          &:hover {
            cursor: pointer;
          }
        }

        input[readonly] {
          caret-color: transparent;
        }

        input:placeholder-shown {
          top: -8px;

          & + label {
            top: 24px;
            @extend .text;
          }
        }

        &-from {
          width: 20%;
          box-sizing: border-box;
          position: relative;
          display: inline-flex;
          flex-direction: column-reverse;
          background-color: $white;
          border-radius: 5px 0 0 5px;
          padding: 16px;

          &:focus-within, &-focused {
            position: relative;
            z-index: 10;
            box-shadow: 0 0 16px 0 $selection;
          }

          &:hover {
            cursor: pointer;
          }
        }

        &-to {
          @extend .header-search-input-fields-from;
          border-radius: 0;

          &:focus-within, &-focused {
            position: relative;
            z-index: 10;
            box-shadow: 0 0 16px 0 $selection;
          }
        }

        &-calendar {
          width: 35%;
          display: flex;
          position: relative;
          flex-direction: row;
          background-color: $white;
          justify-content: center;
          z-index: 8;

          &-focused {
            position: relative;
            z-index: 10;
            box-shadow: 0 0 16px 0 $selection;
          }

          &-from, &-to {
            @extend .header-search-input-fields-to;
            width: 100%;
            flex-direction: row;

            &:focus-within {
              box-shadow: none;
              z-index: 0;
            }

            div {
              display: flex;
              flex-direction: column-reverse;
            }

            img {
              position: relative;
              top: 14px;
              height: 20px;
            }
          }

          &-image {
            margin: 0 -2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
          }

          &-divider {
            position: relative;
            top: 27px;
            width: 1px;
            margin: -2px;
            height: 30px;
            background-color: $gray;
            z-index: 2;
          }
        }

        &-details {
          width: 25%;
          @extend .header-search-input-fields-from;
          border-radius: 0 5px 5px 0;

          &-focused {
            position: relative;
            z-index: 10;
            box-shadow: 0 0 16px 0 $selection;
          }

        }
      }

      &-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        @extend .text;
        font-weight: bold;
        background-color: $accent;
        margin-left: 10px;
        width: 130px;
        border: none;
        border-radius: 5px;
        color: $white;
        box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.3);

        &:hover {
          cursor: pointer;
        }

        &:active {
          box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.3);
          scale: 0.99;
        }
      }

    }

    &-multiplePoints {
      align-items: center;
      padding: 12px 0;
      color: $white;
      @extend .textSmall;

      p::before {
        transform: translateY(2px);
        margin-right: 8px;
        content: "";
        display: inline-block;
        height: 20px;
        width: 20px;
        background-image: url('https://www.svgrepo.com/show/131472/points.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: invert(1);
      }
    }

  }

}

.headerModal {

  &-cityPicker {
    display: none;
    position: absolute;
    z-index: 10;
    width: 40%;
    background-color: $white;
    border-radius: 5px;
    top: 100px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    padding: 16px 0;

    &-picked {
      display: none;

      &-title {
        @extend .text;
        font-weight: bold;
        padding: 0 24px;
      }

      &-city {
        @extend .text;
        padding: 8px 24px;
        background-color: $backgroundGray;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          background-color: transparent;
          border: none;
          padding: 0;
          content: "";
          display: inline-block;
          height: 25px;
          width: 25px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          filter: invert(0);
          background-image: url("https://www.svgrepo.com/show/521590/cross.svg");

          &:hover {
            cursor: pointer;
          }
        }

        &-name {
          flex-grow: 1;

          &::before {
            transform: translateY(2px);
            margin-right: 8px;
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            filter: invert(0);
            background-image: url("https://www.svgrepo.com/show/430441/marker-line-map.svg")
          }
        }
      }
    }

    &-cityList {
      &-title {
        @extend .text;
        font-weight: bold;
        padding: 0 24px;
      }

      &-item {
        @extend .text;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 8px 24px;

        &:hover {
          background-color: $backgroundGray;
          cursor: pointer;
        }

        &-name {
          &::before {
            transform: translateY(2px);
            margin-right: 8px;
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            filter: invert(0);
            background-image: url("https://www.svgrepo.com/show/430441/marker-line-map.svg")
          }
        }
      }
    }
  }

  &-datePicker {
    @extend .text;
    position: absolute;
    width: 400px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    gap: 0;
    top: 100px;
    left: calc((100% - 400px) / 2);
    background-color: $white;
    display: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 16px 24px;

    &-pages {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      button {
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }
      }

      span {
        @extend .textBig;
      }
    }

    &-daysTitle {
      display: flex;
      width: 100%;
      @extend .text;
      font-weight: bold;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }

    &-days {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &-inactive {
        color: $gray
      }

      &-chosen {
        background-color: $accent;
        color: $white;
        border-radius: 5px;
        position: relative;
        scale: 1.05;
      }

      &-between {
        background-color: $accentLight;
      }

      div {
        display: flex;
        justify-content: center;
        width: calc(100% / 7 - 24px);
        padding: 12px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-details {
    @extend .headerModal-cityPicker;
    width: fit-content;
    display: none;
    flex-direction: column;
    right: 0;

    &:hover {
      cursor: default;
    }

    p {
      color: $gray;
      padding: 0 24px;
    }

    &-passengers {
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
      align-items: center;

      button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 10px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 62%;

        &:hover {
          cursor: pointer;
        }

        &.plus {
          background-image: url("https://www.svgrepo.com/show/532997/plus-large.svg");
        }

        &.minus {
          background-image: url("https://www.svgrepo.com/show/532960/minus.svg");
        }

        &.help {
          width: 20px;
          height: 20px;
          margin: -5px 10px;
        }
      }

      input[type="text"] {
        flex-grow: 0;
        width: 20px;
        text-align: center;
        font-weight: bold;

        &:hover {
          cursor: default;
        }
      }

      p {
        color: inherit;
        flex-grow: 1;
        font-weight: bold;
        padding: 0;
        line-height: 28px;

        span {
          font-weight: normal;
        }

      }
    }

    &-divider {
      background-color: $gray;
      height: 1px;
      margin: 20px 0;
    }

    &-class {
      display: flex;
      padding: 0 24px;
      flex-direction: inherit;

      div {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }

      p {
        color: inherit;
        font-weight: bold;
        padding: 0;
      }

      input[type="radio"] {
        display: none;

        & + label {
          @extend .textSmall;
          font-weight: 500;
          display: flex;
          background-color: $transparentWhite;
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
          color: inherit;
          padding: 4px 18px;
          border-radius: 20px;
          margin-bottom: 12px;
        }

        &:checked + label {
          color: $white;
          background-color: $accent;
        }
      }

    }

  }
}

.mainSection {
  @extend .section;
  background-color: $backgroundGray;
  padding: 24px 0;
}

.main {
  @extend .wrapper;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &-advise {
    display: flex;
    gap: 24px;

    &-card {
      position: relative;
      height: 160px;
      display: flex;
      flex-direction: row;
      background-color: $white;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px 16px;
      width: calc(50% - 12px);
      border-radius: 10px;
      box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);

      div {
        display: flex;
        width: 70%;
        flex-direction: column;
        gap: 12px;
      }

      img {
        position: absolute;
        bottom: 30px;
        right: 16px;
      }

      button {
        @extend .header-search-input-submit;
        @extend .textSmall;
        font-weight: bold;
        height: 28px;
        width: fit-content;
        margin: 0;
        box-shadow: none;
        position: absolute;
        bottom: 16px;

        &:active {
          box-shadow: none;
        }

        &.secondary {
          background-color: $accentLight;
          color: $accent;

        }
      }

      p {
        @extend .text;
        font-weight: 500;
      }

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          @extend .textSmall;
          color: $gray;
          list-style-type: none;
          margin-right: 16px;

          &::before {
            content: "✔";
            color: $markerColor;
            margin-right: 2px;
          }
        }
      }

      &-text {
        display: flex;
        flex-direction: column;

      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;

    p {
      @extend .text;
      font-weight: 500;
      padding: 0 3px 10px 3px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        @extend .textSmall;
        color: $selection;
      }
    }

    &-popular {
      width: 70%;
      display: flex;
      flex-direction: column;

      &-card {
        display: flex;
        flex-direction: column;
        background-color: $white;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        border-radius: 10px;
        box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);

        &-listItem {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 40px;
          padding: 16px 16px;
          box-sizing: border-box;
          border-bottom: $dividerColor 1px solid;

          &:last-child {
            border: none;
          }

          p {
            padding: 0;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 50%;
            align-items: center;

            span {
              color: $accent;
            }
          }

        }
      }


    }

    &-top {
      width: calc(30% - 24px);

      &-card {
        @extend .main-content-popular-card;
        padding: 3px 0;
        gap: 0;

        &-listItem {
          @extend .main-content-popular-card-listItem;
          justify-content: space-between;
          border-bottom: none;
          padding: 3px 16px;

          &:last-child {
            border-bottom: none;
          }

          p {
            width: 100%;

            a {
              margin-left: 12px;
              flex-grow: 1;
            }

            span {
              color: inherit;

              &::before {
                content: "★";
                color: $accent;
                font-size: 20px;
                line-height: 20px;
                margin-right: 4px;
              }
            }
          }
        }


      }
    }

    &-info {
      @extend .main-content-popular;

      &-card {
        @extend .main-content-popular-card;
        gap: 16px;
        padding: 16px 0;

        &-listItem {
          @extend .main-content-top-card-listItem;
          flex-direction: column;
          gap: 0;

          p {
            @extend .textSmall;
            padding: 0;
            color: $gray;

            &.title {
              font-weight: 500;
              margin-bottom: 10px;
              color: inherit;
            }
          }

        }
      }
    }

    &-faq {

      @extend .main-content-top;

      &-card {
        @extend .main-content-top-card;

        p {
          @extend .main-content-top-card-listItem;
          width: 100%;
        }

        &:last-child {
          background-color: #d0d1fb;
          margin-top: 24px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

          img {
            width: 100px;
            padding: 24px 24px 24px 0;
          }

          p {
            @extend .text;
            font-weight: 400;
            line-height: 24px;
            width: calc(100% - 140px);
            padding: 0 0 0 20px;
            margin-right: -10px;
            opacity: 60%;
          }

          form {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 24px 24px 24px;

            button {
              width: 50px;
              height: 50px;
              @extend .header-search-input-submit;
              padding: 0;
              box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

              &:active {
                scale: 0.98;
                box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
              }

              img {
                filter: invert(1);
                padding: 0;
              }

            }

            input {
              width: 100%;
              height: 50px;
              border: $accent 2px solid;
              box-sizing: border-box;
              border-radius: 5px;
              padding: 16px;
              color: $accent;

              &:focus {
                outline: none;
              }

            }

            .alert {
              @extend .text;
              font-weight: bold;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              position: absolute;
              top: -9px;
              right: 100px;
              background-color: $accent;
              color: $white;
            }
          }
        }

      }
    }
  }
}


.footerSection {
  @extend .section;
  background-color: $white;
  padding: 24px 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.footer {
  @extend .wrapper;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    &-item {
      width: calc(100% / 6 - (20px * 5) / 6);
      display: flex;
      flex-direction: column;

      p {
        @extend .textSmall;
        font-weight: 500;
      }

      ul {
        @extend .textSmall;
        margin: 12px 0;
        list-style-type: none;

        li {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      a {
        @extend .textSmall;
        color: $selection;

        &::after {
          content: " →"
        }
      }

    }
  }

  &-divider {
    width: 100%;
    height: 1px;
    background-color: $dividerColor;
  }

  &-contacts {
    padding: 12px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {

      display: flex;
      flex-direction: row;
      gap: 12px;
      padding: 0;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        @extend .textSmall;
        height: 50px;
        border: $selection 1px solid;
        color: $selection;
        background-color: transparent;
        padding: 0 20px;
        margin: 0 12px 0 0;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
        }

        &:active {
          scale: 0.98;
        }

        &.circle {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: $gray;
          border: none;
          margin: 0;
          opacity: 80%;

          img {
            height: 20px;
            filter: invert(1);
          }
        }

        &.black {
          @extend .textSmall;
          font-weight: 500;
          background-color: black;
          color: $white;
          border: none;
          margin: 0;
          padding: 0 12px;

          img {
            height: 28px;
            filter: invert(1);
            margin-right: 8px;
          }
        }
      }

    }

  }

}